{% extends 'baseTitle.html.twig' %}

{% block body %}
    <h1></h1>
    <div class="panel panel-info" >
        <div class="panel-heading" >
            <h3><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>Orden Número {{ orden.0.id }}</h3>
            <a href="#" class="btn btn-info" ><b>QF Interpretación:</b> {{ orden.0.qfinterpreta }} </a>
            <a href="#" class="btn btn-info" ><b>Fecha de Producción:</b> {{ orden.0.fechaProduccion|date('Y-m-d') }}</a>
            <a href="#" class="btn btn-info" ><b>Hora de Producción:</b> {{ orden.0.horaProduccion|date('H:i') }}</a>            
        </div>
        <div class="panel-body" >            
            <div class="panel panel-default">
                <div class="panel-body"> 
                    <form name="newMezcla" id="newMezcla" >
                    <div id="mezclas" > 
                        
                            <div class="col-md-12 form-group">
                                <div class="alert alert-success" id="success-alert">
                                    <strong>Ok! </strong>
                                    El item ha sido agregado exitosamente a la orden {{ orden.0.id }}.
                                </div>
                                {% if diagnostico %}
                                    <div class="col-md-4 form-group">
                                        <label for="paciente" >Paciente</label>
                                        <select name="pacienteSelect1" id="pacienteSelect1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for paciente in pacientes %}
                                                <option value="{{ paciente.id }}" >{{ paciente.documento }} - {{ paciente.nombreCompleto }}</option>
                                            {% endfor %}    
                                        </select>
                                        <input type="hidden" name="idOrden" value="{{ orden.0.id }}" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="diagnostico" >Diagnostico</label>
                                        <input type="text" name="diagnosticoSelect1" class="form-control" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="eps" >EPS</label>
                                        <input type="text" name="epsSelect1" class="form-control" />
                                    </div>    
                                    <div class="col-md-4 form-group">
                                        <label for="Medicamento1" >Medicamento 1</label>
                                        <select name="medicamento1" id="medicamento1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for guia in guiaEstabilidad %}
                                                <option value="{{ guia.id }}" >{{ guia.nombreMedicamento }} - {{ guia.nombre }}</option>
                                            {% endfor %}   
                                        </select>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="dosis1" >Dosis 1</label>
                                        <input type="text" name="dosis1" class="form-control" />
                                    </div>
                                    {# <div class="col-md-3 form-group">
                                        <label for="Medicamento2" >Medicamento 2</label>
                                        <select name="medicamento2Select1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for medica in medicamentos %}
                                                <option value="{{ medica.id }}" >{{ medica.nombreMedicamento }}</option>
                                            {% endfor %}   
                                        </select>
                                    </div>
                                    <div class="col-md-1 form-group">
                                        <label for="dosis2" >Dosis 2</label>
                                        <input type="text" name="dosis2Select1" class="form-control" />
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label for="Medicamento3" >Medicamento 3</label>
                                        <select name="medicamento3Select1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for medica in medicamentos %}
                                                <option value="{{ medica.id }}" >{{ medica.nombreMedicamento }}</option>
                                            {% endfor %}   
                                        </select>
                                    </div> 
                                    <div class="col-md-1 form-group">
                                        <label for="dosis3" >Dosis 3</label>
                                        <input type="text" name="dosis3Select1" class="form-control" />
                                    </div> #}
                                {% else %} 
                                    <div class="col-md-6 form-group">
                                        <label for="paciente" >Paciente</label>
                                        <select name="pacienteSelect1" id="pacienteSelect1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for paciente in pacientes %}
                                                <option value="{{ paciente.documento }}" >{{ paciente.nombreCompleto }}</option>
                                            {% endfor %}    
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="Medicamento1" >Medicamento 1</label>
                                        <select name="medicamento1Select1" id="medicamentoSelect1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for medica in medicamentos %}
                                                <option value="{{ medica.id }}" >{{ medica.nombreMedicamento }}</option>
                                            {% endfor %}   
                                        </select>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="dosis1" >Dosis 1</label>
                                        <input type="text" name="dosis1Select1" class="form-control" />
                                    </div>
                                    {# <div class="col-md-2 form-group">
                                        <label for="Medicamento2" >Medicamento 2</label>
                                        <select name="medicamento2Select1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for medica in medicamentos %}
                                                <option value="{{ medica.id }}" >{{ medica.nombreMedicamento }}</option>
                                            {% endfor %}   
                                        </select>
                                    </div>
                                    <div class="col-md-1 form-group">
                                        <label for="dosis2" >Dosis 2</label>
                                        <input type="text" name="dosis2Select1" class="form-control" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="Medicamento3" >Medicamento 3</label>
                                        <select name="medicamento3Select1" class="selectpicker form-control" data-live-search="true" title="Seleccionar">
                                            {% for medica in medicamentos %}
                                                <option value="{{ medica.id }}" >{{ medica.nombreMedicamento }}</option>
                                            {% endfor %}   
                                        </select>
                                    </div>
                                    <div class="col-md-1 form-group">
                                        <label for="dosis3" >Dosis 3</label>
                                        <input type="text" name="dosis3Select1" class="form-control" />
                                    </div> #}
                                {% endif %}
                            </div>    
                        </div>
                        <input type="hidden" name="contador" id="contador" value="1" />
                        <button class="btn btn-primary" id="addMezcla" >Agregar Medicamento</button>
                        <button class="btn btn-success" id="sendMezcla">Agregar a la Orden</button>    
                   </form> 
                </div>
            </div> 
            <div class="form-group col-md-12 text-center">
                <a href="{{ path('orden_index') }}" class="btn btn-danger col-md-2 pull-right">Cancelar</a>                
                <a href="#" class="btn btn-success col-md-2 pull-right" id="sendOrder" style="margin-right: 15px;" >Procesar Orden</a>
            </div>
            <input type="hidden" id="orden" value="{{ orden.0.id }}" />
            
        </div>
        
    </div>                    
    
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            
            $("#success-alert").hide();
            
            $('#addMezcla').click(function(){
                var contador = parseInt($('#contador').val())+1;
                $('#contador').val(contador);
                    var selectMedica1 = '<div class="col-md-12 form-group divMed" id="divMed'+contador+'" ><div class="col-md-4 form-group"><label for="Medicamento'+contador+'" >Medicamento '+contador+'</label><select name="medicamento'+contador+'" class="selectpicker form-control" data-live-search="true" title="Seleccionar">';
                    var optionsMedica = '';
                    $('#medicamento1 option').each(function(){
                        optionsMedica = optionsMedica+'<option value="'+$(this).val()+'" >'+$(this).html()+'</option>';
                    });
                    
                    selectMedica1 = selectMedica1+optionsMedica+'</select></div><div class="col-md-2 form-group"><label for="dosis'+contador+'" >Dosis '+contador+'</label><div class="input-group"><input type="text" name="dosis'+contador+'" class="form-control" /><span class="input-group-addon"><i class="glyphicon glyphicon-remove removeMed" data-value="'+contador+'"></i></span></div></div></div>';
                   
                    $('#mezclas').append(selectMedica1);
                    $('.selectpicker').selectpicker();
                    $('.removeMed').click(function(){
                        var idMed = $(this).data('value');
                        $('#divMed'+idMed).remove();
                        $('#contador').val(contador-1);
                    });          
                
                
                
            });
            
            $('#sendMezcla').click(function(){
                $.ajax({
                    url: '{{ path("mezcla_insert") }}',
                    type: 'POST',
                    data: $('#newMezcla').serialize(),
                    success: function( data ){
                        var obj = JSON.parse(data);
                        console.log(obj);
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        }); 
                        
                        $('#newMezcla')[0].reset();
                        $(".selectpicker").selectpicker("refresh");
                        $(".divMed").remove();
                        $("#contador").val('1');
                    }
                })
                return false;
            });
            
            $('#sendOrden').click(function(){
                $.ajax({
                    url: '{{ path("orden_update") }}',
                    type: 'POST',
                    data: { "orden":{{ orden.id }} },
                    success: function( data ){
                        var obj = JSON.parse(data);
                        console.log(obj);
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                            $("#success-alert").slideUp(500);
                        }); 
                        
                        $('#newMezcla')[0].reset();
                        $(".selectpicker").selectpicker("refresh");
                        $(".divMed").remove();
                        $("#contador").val('1');
                    }
                })
                return false;
            });
        });
    </script>
{% endblock %}    