{% extends 'base.html.twig' %}

{% block body %}
    <h1>Guiaestabilidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombremedicamento</th>
                <th>Laboratorio</th>
                <th>Nombrelasa</th>
                <th>Presentacionfavorita</th>
                <th>Unidadmediad</th>
                <th>Volreconstitucion</th>
                <th>Concentracion</th>
                <th>Envase</th>
                <th>Vehiculodilucion</th>
                <th>Volvehiculodilucion</th>
                <th>Viaadmon</th>
                <th>Condicionesalmacenamiento</th>
                <th>Fotosensible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guiaestabilidad in guiaestabilidads %}
            <tr>
                <td><a href="{{ path('guiaestabilidad_show', { 'id': guiaestabilidad.id }) }}">{{ guiaestabilidad.id }}</a></td>
                <td>{{ guiaestabilidad.nombremedicamento }}</td>
                <td>{{ guiaestabilidad.laboratorio }}</td>
                <td>{{ guiaestabilidad.nombrelasa }}</td>
                <td>{{ guiaestabilidad.presentacionfavorita }}</td>
                <td>{{ guiaestabilidad.unidadmediad }}</td>
                <td>{{ guiaestabilidad.volreconstitucion }}</td>
                <td>{{ guiaestabilidad.concentracion }}</td>
                <td>{{ guiaestabilidad.envase }}</td>
                <td>{{ guiaestabilidad.vehiculodilucion }}</td>
                <td>{{ guiaestabilidad.volvehiculodilucion }}</td>
                <td>{{ guiaestabilidad.viaadmon }}</td>
                <td>{{ guiaestabilidad.condicionesalmacenamiento }}</td>
                <td>{% if guiaestabilidad.fotosensible %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('guiaestabilidad_edit', { 'id': guiaestabilidad.id }) }}" class="btn btn-default" >edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('guiaestabilidad_new') }}">Create a new guiaestabilidad</a>
        </li>
    </ul>
{% endblock %}
