{% extends 'base.html.twig' %}

{% block body %}
    <h1><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Nuevo Medicamento</h1>
    
    {{ form_start(form) }}
        <div class="form-group col-md-6">
            {{ form_label(form.nombreMedicamento) }}
            {{ form_widget(form.nombreMedicamento, { 'id': 'nomMed'}) }}
            {{ form_errors(form.nombreMedicamento) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.presentacionExistencia) }}
            {{ form_widget(form.presentacionExistencia) }}
            {{ form_errors(form.presentacionExistencia) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.lote) }}
            {{ form_widget(form.lote) }}
            {{ form_errors(form.lote) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.fechaVencimiento) }}
            {{ form_widget(form.fechaVencimiento) }}
            {{ form_errors(form.fechaVencimiento) }}
        </div> 
        <div class="form-group col-md-6">
            {{ form_label(form.save) }}
            {{ form_end(form) }}
        </div> 
        <div class="form-group col-md-6">
            <a href="{{ path('medicamento_index') }}" class="btn btn-danger col-md-5 pull-right">Cancelar</a>
        </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            
        });
    </script>    
{% endblock %}
