{% extends 'base.html.twig' %}

{% block body %}
    <h1><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Nuevo Medicamento</h1>
    
    {{ form_start(form) }}
        <div class="form-group col-md-6">
            {{ form_label(form.nombreMedicamento) }}
            {{ form_widget(form.nombreMedicamento) }}
            {{ form_errors(form.nombreMedicamento) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.presentacionExistencia) }}
            {{ form_widget(form.presentacionExistencia) }}
            {{ form_errors(form.presentacionExistencia) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.lote) }}
            {{ form_widget(form.lote) }}
            {{ form_errors(form.lote) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.fechaVencimiento) }}
            {{ form_widget(form.fechaVencimiento) }}
            {{ form_errors(form.fechaVencimiento) }}
        </div>
        <div class="form-group col-md-6">
            <label for="idlaboratorio" >Laboratorio</label>
            {{ form_widget(form.idlaboratorio) }}
            {{ form_errors(form.idlaboratorio) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.save) }}
            {{ form_end(form) }}
            <a href="{{ path('medicamento_index') }}" class="btn btn-danger col-md-5 pull-right">Cancelar</a>
        </div> 

{% endblock %}
